body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.banner {
    margin: 100px;
    width: 900px;
    height: 300px; /* Adjust height as needed */
    background-image: url(),url(),url();
    background-size: cover;
    background-position: center 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black; /* Add a 2px solid black border */
    border-radius: 4px;
}
.tabs {
    display: flex;
    justify-content: space-between;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: lightgray;
}
.tab:hover {
    background-color: gray;
}
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-square {
    width: 563px; /* Adjust size as needed */
    height: 188px; /* Adjust size as needed */
    margin: 10px;
    background-size: cover;
    background-position:center 25% ;
    cursor: pointer;
}
#layer1, #layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#Cryo {
    background-color: #9cd4e4;
}

#Dendro {
background-color: #a5c83b;
}

#Electro {
    background-color: #af8ec1;
}

#Pyro {
    background-color: #ef7938;
}

#Geo {
    background-color: #fab632;
}

#Hydro {
    background-color: #4cc2f1;
}

#Anemo {
    background-color: #74c2a8;
}