body {
    font-family: Arial, sans-serif;
    background-color:rgb(151, 241, 255);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.banner {
    margin: 100px;
    width: 900px;
    height: 300px; /* Adjust height as needed */
    background-image: url('path_to_your_image.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tabs {
    display: flex;
    justify-content: space-between;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: lightgray;
}
.tab:hover {
    background-color: gray;
}
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: block;
}